body {
	position: relative;
	border-radius: 15px;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,1.2);
	font-family: "Helvetica Neue";
	font-weight: 200;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 1px;
}
